html{
   height: 1800;
   width: 1800;
}

/*index file*/
 
 body{
    background-color: #e6e6e6;
 }

header{
   background-color: #c5a880;
   height: 100px;
}

.index-list{
   display: inline-block;
   position: relative;
   bottom: 130px;
   left: 450px;
}

a:link{
   color:#532e1c;
}
a:hover{
   color:#e6e6e6 ;
}

h1{
   color:#532e1c;
   padding: 10px;
   position: relative;
   bottom: 90px;
   left: 230px;
   font-size: 36px;
}

h3{
   position: relative;
   bottom: 205px;
   left: 270px;
   font-size: 18px;
   color:#532e1c ;
}

main{
   height: 1000px;
   position: relative;
   left: 150px;
}

#greeting,#greeting-branches{
   color:#532e1c ;
   font-size: 24px;
   font: bolder;

}

footer{
   background-color: #c5a880;
   height: 180px;
   width: 1800;
   scroll-margin-bottom: -50px;
   position: relative;
   top: 100px;
   bottom: 1000px;
   color:#3a2216;
   font-size: 16px;
   padding: 10px;
}

/*moving images*/
#img5{
   position: relative;
   left: 420px;
   bottom: -160px;
   height: 140px;
   width: 400px;
}

#img1,#img2,#img3,#img4{
   position: relative;
   bottom:1000;
}

form{
   background-color: #532e1c;
   color: #dfc9ab;
   padding: 10px;
  height: 400px;
   border-radius: 10px;
   width: 350px;  
}
.form-list{
padding: 10px;
}

 button{
    background-color: #dfc9ab;
    color: #532e1c;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    font: bolder;
    position: relative;
    left: 50px;
    bottom: 30px;
 }

 .greeting-div{
    position: relative;
    left: 450px;
    bottom:410px;
 }

/*sales file*/

 h2{
    color: #532e1c;
    position: relative;
    left:400px;
    bottom: 250px;
 }

 td,tr,th{
   border: 1px solid #0f0f0f;
   background-color:#532e1c;   
}

tr,table{
   color: #c5a880;
   border-collapse: collapse;
   border-radius: 20px;
   size: 50px;
   position: relative;
  left:410px;
  bottom: 250px;
   margin-bottom: 20px;
}

.nav-list, a:link{
   display: inline-block;
   position: relative;
   color: #0f0f0f;
   left:400px;  
   bottom: 45px;
   padding: 10px;
   margin: 8px;
   font-size:18px;
}

#family-img{
   position: relative;
   left: 250px;
}